@import url("../../index.css");

.inventory {
    flex: 1;
    max-height: 100vh;
}

.inventory .active {
    background: var(--darkorange);
    border: none;
    color: #fff;
}

.inventory .inventory_nav button {
    white-space: nowrap;
    width: auto;
    margin-bottom: 10px;
}

.inventory .inventory_nav .active {
    background: var(--blue);
}

.toggle_hide {
    color: var(--secondary);
}

.inventory_button_group {
    grid-template-columns: repeat(4, auto);
    width: fit-content;
}

.inventory_button_group .button:nth-child(2),
.inventory_button_group .button:nth-child(5) {
    background: var(--darkred);
}

.inventory_button_group .button:nth-child(3),
.inventory_button_group .button:nth-child(6) {
    background: var(--blue);
}

.inventory_button_group .button:nth-child(4),
.inventory_button_group .button:nth-child(7) {
    background: var(--darkorange);
}

.inventory_button_group .button:hover{
    opacity: 0.7;;
}

.inventory .dropdown button {
    background: none;
    color: var(--darkblue);
}

.inventory .dropdown button:active {
    border: none;
}

@media (max-width: 1039.98px)  {
    .inventory {
        padding-bottom: 100px;
    }
}
